@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik'),
        url('../fonts/Rubik-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu'),
        url('../fonts/Ubuntu-Regular.woff2') format('woff2');
}
body {
    min-height: 100vh;
    width: 100%;
    padding: 0 30px 0 24px;
    background-color: #F8F9FD;
    display: grid;
    grid-template-columns: 1fr 5.7609fr;
    grid-template-rows: 80px 11.213fr;
    grid-template-areas:
        "header header"
        "aside main";
}
header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: inherit;
}
aside {
    grid-area: aside;
    padding: 30px 29px 30px 0;
    display: flex;
    flex-direction: column;
}
main {
    grid-area: main;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 0px 14px rgba(188, 194, 217, 0.1);
    border-radius: 10px 10px 0px 0px;
    padding: 31px 29px 0 29px;
    max-width: 1280px;
}
#extended {
    display: grid;
    max-width: none;
    grid-template-areas: "files additional";
    grid-template-columns: 4.08fr 1fr;
    padding: 0 0 0 16px;
}
#extended > #files {
    grid-area: files;
    padding: 31px 0 0 0;
}
#extended > #files > h3 {
    padding: 0 0 0 13px;
}
#extended > #files > .folder:nth-child(2) {
    margin: 0 30px 30px 13px;
}
tr > th:nth-child(1) {
    display: block;
    margin: 0 0 0 13px;
}
tr > th:nth-child(6) {
    display: block;
    margin: 0 12px 0 0;
}
tr > th {
    padding: 0 0 8px 0;
}
tr:nth-child(2) > td {
    border-top: solid 1px #F1F1F1;
}
#selected > td { 
    border-top: solid 1px #F1F1F1;
    border-bottom: solid 1px #F1F1F1;
}
#selected > td:nth-child(1) { border-left: solid 1px #F1F1F1; }
#selected > td:nth-child(6) { border-right: solid 1px #F1F1F1; }
#selected > td:first-child { border-top-left-radius: 10px; }
#selected > td:last-child { border-top-right-radius: 10px; }
#selected > td:first-child { border-bottom-left-radius: 10px; }
#selected > td:last-child { border-bottom-right-radius: 10px; }
#selected > td {
    background-color: #3361FF;
    color: #FFFFFF;
}
#selected > .extension > span {
    color: #3361FF;
}
#additional {
    display: flex;
    flex-direction: column;
    grid-area: additional;
    border-left: 1px solid #F1F1F1;
    margin: 29px 0 0 0;
}
#additional1 {
    flex-basis: 27.2%;
    border-bottom: 1px solid #F1F1F1;
    padding: 0 0 0 23px;
}
#additional2 {
    padding: 16px 0 0 23px;
}
#additional2 > .font_11_13 {
    position: relative;
    bottom: 7px;
    left: 5px;
}
#folder_blue {
    margin: 6px 0 0 0;
}
#favourite {
    float: right;
    position: relative;
    bottom: 15px;
    right: 15px;
}
#additional1 > .font_22_26 {
    display: block;
    margin: 21px 0 0 0;
    color: #3361FF;
}
#additional1 > span:nth-child(4) {
    display: block;
    margin: 53px 0 0 0;
}
#additional1 > a {
    display: block;
    margin: 3px 0 0 0;
}
#additional1 > a > span {
    color: #3361FF;
}
#additional1 > a > img {
    position: relative;
    top: 3px;
    left: 1px;
}
#additional2 > span:nth-child(3) {
    display: block;
    margin: 20px 0 0 0;
}
#additional2 > span:nth-child(2n + 4) {
    display: block;
    margin: 8px 0 0 0;
}
#additional2 > span:nth-child(2n + 5) {
    display: block;
    margin: 24px 0 0 0;
}
#rating {
    margin: 11px 0 0 0;
}
#rating > span {
    margin: 0 18px 0 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font_22_26 {
    font: 22px Roboto;
    line-height: 26px;
    color: #161616;
}
.font_18_21 {
    font: 18px Roboto;
    line-height: 21px;
    color: #161616;
}
.font_16_19 {
    font: 16px Roboto;
    line-height: 19px;
    color: #161616;
}
.font_14_16 {
    font: 14px Roboto;
    line-height: 16px;
    color: #161616;
}
.gray {
    color: #A2A6B6;
}
.font_11_13 {
    font: 11px Roboto;
    line-height: 13px;
    color: #A2A6B6;
}
a {
    text-decoration: none;
}
#logo {
    display: flex;
    align-items: center;
    margin: 0 71px 0 0;
}
#logo > img {
    margin: 0 6px 0 0;
}
#logo > h1 {
    width: 101px;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 13px;
    font-weight: 400;
}

#search {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    height: 48px;
    width: 450px;
    padding: 2px 2px 2px 30px;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    filter: drop-shadow(0 0 14px rgba(188, 194, 217, 0.1));
}
#search > [type = image] {
    padding: 11px 19px 12px;
}
[type = "search"] {
    flex-basis: 100%;
    border: none;
    outline: none;
}
nav {
    flex-basis: 100%;
}
nav > a {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 0 0 24px 0;
}
#nav_main {
    height: 21px;
    width: 104px;
}
#nav_main > img {
    margin: 0 18px 0 0;
}
#nav_main > h2 {
    color: #3361FF;
}
#nav_history_of_builds {
    height: 21px;
    width: 175px;
}
#nav_history_of_builds > img {
    margin: 0 19px 0 1px;
}
#nav_favourites {
    display: flex;
    width: 154px;
}
#nav_favourites > a {
    display: flex;
    height: 24px;
    width: 130px;
    padding: 3px;
}
#nav_favourites > a > img {
    margin: 0 17px 0 0;
}
summary {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
summary::marker {
    content: none;
}
[open] > summary::before {
    transform: rotate(270deg);
}
summary::before {
    content: "";
    position: absolute;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #A2A6B6;
    margin: 3px 0 0 0;
    transform: rotate(90deg);
    transition: 0.25s transform ease;
}
#details {
    position: relative;
    right: 128px;
}
#details > a {
    display: inline-block;
    height: 29px;
    width: 120px;
    line-height: 9px;
    margin: 8px 0 0 35px;
}
#details > a > span {
    display: block;
}
#profile {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 0;
}
#profile_enter {
    display: flex;
}
#profile_enter > img {
    padding: 1px 11px 0 0;
}
#profile_exit {
    padding: 5px 0 0 35px;
}
#main_favourites {
    margin: 0 0 30px 0;
}
#view_all {
    text-align: right;
    position: relative;
    top: -12px;
    margin: 0 0 14px 0;
}
#view_all > a {
    color: #A2A6B6;
}
.folder {
    display: inline-block;
    width: 220px;
    height: 190px;
    border-radius: 20px;
    background-color: #F8F9FD;
    border: 1px solid #F1F1F1;
    padding: 15px 13px;
    margin: 0 30px 30px 0;
}
#main_favourites > .folder:nth-child(5n + 2) {
    margin: 0;
}
.folder > span {
    display: block;
    position: relative;
    bottom: 22px;
}
span.number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #563BFF;
    height: 35px;
    width: 35px;
    border-radius: 40px;
    left: 42px;
    bottom: 32px;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
span.date {
    width: 122px;
    bottom: 10px;
}
#files > h3 {
    margin: 0 0 30px 0;
}
#files > .folder > .date {
    top: 3px;
}
#files > .folder > span {
    bottom: 9px;
}
#files > .folder > span.number {
    bottom: 32px;
}
.like, .dislike, .downloads {
    position: relative;
    float: left;
    font-family: Rubik;
    font-size: 16px;
    line-height: 19px;
    color: #161616;
}
img.like {
    bottom: 164px;
    left: 120px;
}
span.like {
    bottom: 167px;
    left: 125px;
}
img.dislike {
    bottom: 164px;
    left: 136px;
}
span.dislike {
    bottom: 167px;
    left: 141px;
}
img.downloads {
    bottom: 137px;
    left: 103px;
}
span.downloads {
    bottom: 139px;
    left: 107px;
}

h3#path {
    margin: 0px 0 33px 0;
}

#current {
    color: #3361FF;
}

.arrow {
    margin: 0 32px 0 33px;
}

.usual {
    color: black;
}

table {
    text-align: left;
}

table > tr > th:nth-child(1) {
    width: 65px;
}

table > tr > th:nth-child(2) {
    width: 644px;
}

table > tr > th:nth-child(3) {
    width: 176px;
}

table > tr > th:nth-child(4) {
    width: 137px;
}

table > tr > th:nth-child(5) {
    width: 116px;
}
table > tr > th:nth-child(6) {
    width: 84px;
}

.rating_like, .rating_dislike {
    margin: 0 5px 0 0;
}

.file_number {
    font-family: Rubik;
    font-size: 16px;
    line-height: 19px;
    margin: 0 10px 0 0;
}

.extension {
    display: grid;
    min-height: 64px;
    align-items: center;
    justify-items: center;
    padding-right: 20px;
}

.extension > span {
    position: absolute;
    margin: 10px 0 0 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.file {
    margin: 0 0 1px 1px;
    width: 33px;
}

#selected > .extension {
    padding-right: 21px;
}