@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik'),
        url('../fonts/Rubik-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu'),
        url('../fonts/Ubuntu-Regular.woff2') format('woff2');
}
body {
    min-height: 100vh;
    width: 100%;
    padding: 0 30px 0 24px;
    background-color: #F8F9FD;
    display: grid;
    grid-template-columns: 1fr 5.7609fr;
    grid-template-rows: 80px 11.213fr;
    grid-template-areas:
        "header header"
        "aside main";
}
header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: inherit;
}
aside {
    grid-area: aside;
    padding: 30px 29px 30px 0;
    display: flex;
    flex-direction: column;
}
main {
    grid-area: main;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 0px 14px rgba(188, 194, 217, 0.1);
    border-radius: 10px 10px 0px 0px;
    padding: 29px;
    max-width: 1280px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font_22_26 {
    font: 22px Roboto;
    line-height: 26px;
    color: #161616;
}
.font_18_21 {
    font: 18px Roboto;
    line-height: 21px;
    color: #161616;
}
.font_14_16 {
    font: 14px Roboto;
    line-height: 16px;
    color: #161616;
}
.font_11_13 {
    font: 11px Roboto;
    line-height: 13px;
    color: #A2A6B6;
}
a {
    text-decoration: none;
}
#logo {
    display: flex;
    align-items: center;
    margin: 0 71px 0 0;
}
#logo > img {
    margin: 0 6px 0 0;
}
#logo > h1 {
    width: 101px;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 13px;
    font-weight: 400;
}

#search {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    height: 48px;
    width: 450px;
    padding: 2px 2px 2px 30px;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    filter: drop-shadow(0 0 14px rgba(188, 194, 217, 0.1));
}
#search > [type = image] {
    padding: 11px 19px 12px;
}
[type = "search"] {
    flex-basis: 100%;
    border: none;
    outline: none;
}
nav {
    flex-basis: 100%;
}
nav > a {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 0 0 24px 0;
}
#nav_main {
    height: 21px;
    width: 104px;
}
#nav_main > img {
    margin: 0 18px 0 0;
}
#nav_main > h2 {
    color: #3361FF;
}
#nav_history_of_builds {
    height: 21px;
    width: 175px;
}
#nav_history_of_builds > img {
    margin: 0 19px 0 1px;
}
#nav_favourites {
    display: flex;
    width: 154px;
}
#nav_favourites > a {
    display: flex;
    height: 24px;
    width: 130px;
    padding: 3px;
}
#nav_favourites > a > img {
    margin: 0 17px 0 0;
}
summary {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
summary::marker {
    content: none;
}
[open] > summary::before {
    transform: rotate(270deg);
}
summary::before {
    content: "";
    position: absolute;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #A2A6B6;
    transform: rotate(90deg);
    transition: 0.25s transform ease;
}
#details {
    position: relative;
    right: 128px;
}
#details > a {
    display: inline-block;
    height: 29px;
    width: 120px;
    line-height: 9px;
    margin: 8px 0 0 35px;
}
#details > a > span {
    display: block;
}
#profile {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 0;
}
#profile_enter {
    display: flex;
}
#profile_enter > img {
    padding: 1px 11px 0 0;
}
#profile_exit {
    padding: 5px 0 0 35px;
}
section {
    margin: 0 0 30px 0;
}
#view_all {
    text-align: right;
    position: relative;
    top: -12px;
    margin: 0 0 14px 0;
}
#view_all > a {
    color: #A2A6B6;
}
.folder {
    display: inline-block;
    width: 220px;
    height: 190px;
    border-radius: 20px;
    background-color: #F8F9FD;
    border: 1px solid #F1F1F1;
    padding: 15px 13px;
    margin: 0 30px 30px 0;
}
#main_favourites > .folder:nth-child(5n + 2) {
    margin: 0;
}
.folder > span {
    display: block;
    position: relative;
    bottom: 22px;
}
span.number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #563BFF;
    height: 35px;
    width: 35px;
    border-radius: 40px;
    left: 42px;
    bottom: 32px;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
span.date {
    width: 122px;
    bottom: 10px;
}
#files > h3 {
    margin: 0 0 30px 0;
}
#files > .folder > .date {
    top: 3px;
}
#files > .folder > span {
    bottom: 9px;
}
#files > .folder > span.number {
    bottom: 32px;
}